{% extends 'base.html' %}

{% block title %} {{category_title}} {% endblock title %}


{% block content %}


{% for text in texts %}
  
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ text.image.url }}" class="img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
          <a href=" {% url 'detail' slug=text.slug %} ">{{ text.title }}</a>
        </h5>
        <p class="card-text"> {{ text.content|safe|truncatechars_html:170 }} </p>
        <p class="card-text"><small class="text-muted">It was shared {{ text.date_created|timesince }} ago.</small></p>
      </div>
    </div>
  </div>
</div>

{% endfor %}

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    
    {% if texts.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{texts.previous_page_number}}" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
    {% endif %}
      
    <li class="page-item"><a class="page-link" href="#">{{texts.number}}</a></li>

    {% if texts.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{texts.next_page_number}}"> Next </a>
      </li>
      
      <li class="page-item">
        <a class="page-link" href="?page={{texts.paginator.num_pages}}"> Last Page </a>
      </li>

    {% endif %}
      



  </ul>
</nav>
  
{% endblock %}
    
