{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %} {{ text.title }} {% endblock title %}

{% block content %}

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
        <img src="{{ text.image.url }}" class="img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ text.title }}</h5>
        <p class="card-text"> {{ text.content|safe }} </p>
        <p class="card-text">
          <small class="text-muted">It was shared {{ text.date_created|timesince }} ago.
        </small>

        
        {% if request.user == text.author %}

        
          <p>
            <a class="btn btn-warning" href="{% url 'update-text' slug=text.slug %}">Edit</a>

            <a class="btn btn-danger" href="{% url 'delete-text' slug=text.slug %}">Delete</a>
          </p>


        {% endif %}
          


      
        </p>
      </div>
    </div>
  </div>
</div>

<h5>Comments</h5>


{% if request.user.is_authenticated %}

<form method="POST">
  {% csrf_token %}
  {{ add_comment_form|crispy }}
  <input type="submit" value="Comment" class="btn btn-primary mt-3 mb-3">
</form>

{% include 'components/message.html' %}

{% else %}  
  <p>Please log in to comment</p>
{% endif %}




{% for comment in comments %}

<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-3">
        {% if comment.comment_author.avatar %}
        <img src="{{ comment.comment_author.avatar.url }}" style="max-width: 100px;" class="" alt="...">
  
        {% else %}
            <img src="{% static 'img/user.png' %}" class=""alt="...">
        {% endif %}
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h5 class="card-title">{{ comment.comment_author.username }} </h5>
          <p class="card-text"> {{ comment.comment }} </p>
          
          {% if request.user == comment.comment_author or request.user == text.author %}
            <p>
              <a class="btn btn-danger" href=" {% url 'delete-comment' id=comment.id %} ">Delete</a>
            </p>
          {% endif %}
            
        </div>
      </div>
    </div>
  </div>

{% empty %}
<p>You get first comment!</p>
{% endfor %}
  
{% endblock %}
    
