{% extends 'base.html' %}

{% block title %} {{my_texts}} {% endblock title %}


{% block content %}

<table class="table">
    
    <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Title</th>
          <th scope="col">Date Edited</th>
          <th scope="col">Actions</th>
        </tr>
    </thead>
       
    <tbody>

      {% for text in texts %} 

        <tr>
            <th scope="row">{{ text.id }}</th>
            <td>{{ text.title }}</td>
            <td>{{ text.date_edited }}</td>
            <td><p>
              <a class="btn btn-warning" href="{% url 'update-text' slug=text.slug %}">Edit</a>

              <a class="btn btn-danger" href="{% url 'delete-text' slug=text.slug %}">Delete</a>

            </p></td>
        </tr>
      {% empty %}
      <div class="alert alert-warning" role="alert">
        <p>You have not any post</p>
      </div>


      {% endfor %}
          
        

    </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    
    {% if texts.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{texts.previous_page_number}}" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
    {% endif %}
      
    <li class="page-item"><a class="page-link" href="#">{{texts.number}}</a></li>

    {% if texts.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{texts.next_page_number}}"> Next </a>
      </li>
      
      <li class="page-item">
        <a class="page-link" href="?page={{texts.paginator.num_pages}}"> Last Page </a>
      </li>

    {% endif %}
      



  </ul>
</nav>
  
{% endblock %}
    
