{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load category_list from category_tags %}

{% block title %}
    Profile Edit
{% endblock title %}


{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5 p-3" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href=" {% url 'main' %} ">
          <img src="{% static 'img/my-blog.png' %}" width="155" class=""alt="...">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"href=" {% url 'main' %} ">Home</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href=" {% url 'blogs' %} ">Blogs</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle px-lg-3 py-3 py-lg-4" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Categories
                  </a>
                  <ul class="dropdown-menu">
                    {% category_list as categories %}
  
                    {% for category in categories %}     
                      <li>
                        <a class="dropdown-item" href=" {% url 'category' categorySlug=category.slug %} ">{{ category.name }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
            </ul>
            {% if request.user.is_authenticated %}
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href=" {% url 'add-blog' %} ">Add Blog</a></li>
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href=" {% url 'my_blogs' %} ">My Blogs</a></li>
  
              <li class="nav-item">
                <a class="nav-link px-lg-3 py-3 py-lg-4"  href=" {% url 'profile-edit' %} "
                  >Profile</a
                >
              </li>
      
              <li class="nav-item">
                <a class="nav-link px-lg-3 py-3 py-lg-4" href=" {% url 'logout' %} ">Logout</a>
              </li>
            </ul>
            {% else %}
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'login' %}">Login</a>
              </li>
              <span style="color: #fff; align-self: center"> | </span>
              <li class="nav-item">
                <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'register' %}">Register</a>
              </li>
            </ul>
            {% endif %}
        </div>
    </div>
  </nav>


<div class="container px-4 px-lg-5" style="margin-top: 150px">
<div class="row gx-4 gx-lg-5 justify-content-center">
<div class="col-md-10 col-lg-8 col-xl-7">

    {% include 'components/message.html' %}

    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form | crispy}}            
        <input type="submit" class="btn btn-success mt-3 mb-3 w-100 btn-small" value="Save" />
    </form>

    {% comment %} <input type="submit" class="btn btn-primary mt-3 mb-3" href="{% url 'change-password' %}" value="Change Password" /> {% endcomment %}

    <a class="btn btn-primary w-100" role="button" href="{% url 'change-password' %}">Change Password</a>
</div>
</div>
</div>
      
{% endblock content %}